@include component(card) {
    padding: 3em 0 1em 3em;

    @include part(icon) {}

    @include part(title) {
        font-family: var(--primary-font-family);
        font-size: 2.5rem;
        text-transform: uppercase;
        color: var(--fourth-color);
        padding: 0.8em 0;
    }

    @include part(paragraph) {
        font-family: var(--secondary-font-family);
        font-size: 0.9375rem;
        line-height: 1.7;
        color: var(--fifth-color);
        width: 86%;

    }

    @include part(btn) {
        border: none;
        outline: none;
        border-radius: 50px;
        font-family: var(--secondary-font-family);
        font-size: 1rem;
        padding: 0.9em 2em;
        margin: 2em 0;
    }
}