//  there are the styles for the header, footer, the grid system, etc

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: var(--fourth-color);
}

main{
    padding: 5em 1.5em 5em 1.5em;
    @include desktop{
        display: flex;
        width: 64%;
        width: clamp(854px, 64%, 100%);

        padding: 0;
        // FIXME:
    }
}